{% extends 'index.html' %}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Form</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h2>ADD BOOK</h2>
    <div class="form-row">
       
        <form method="post" >                
            {% csrf_token %}
            <div class="form-group col-md-6">
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
    </div>
 </body>
</html>
{%endblock%}
