{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Delete</title>
</head>
<body>
    <div class="text-light bg-dark">
        <h2> Are You Sure Delete The book  {{book.book_name}} ?</h2>
    <form method="post" >
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Delete</button>
        </form>
        </div>
    
</body>
</html>
{%endblock%}